/* Style for our header texts
	* --------------------------------------- */
	h1{
		/*font-size: 7.77vw;*/
		font-size: 5em;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		margin:0;
		padding:0;
	}
	h2{
		/*font-size: 6vw;*/
		font-size: 3em;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		margin:0 auto;
		padding:0;
	}
	h3{
		/*font-size: 6vw;*/
		font-size: 3em;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		margin:0;
		padding:0;
	}
	h4{
		/*font-size: 4.5vw;*/
	}
	@media screen and (min-width: 739px){
		.nehal{
			font-size: 7em;
		}
	}

	/* Style for paragraphs
	* --------------------------------------- */
	p{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	}

	/* Style for buttons
	* --------------------------------------- */
	button{
		width: 8em;
		height: 2.5em;
		color: #FFF;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    	font-weight: normal;
    	/*min-width: 90px;*/
    	/* Centering the text within the button*/
    	padding:5px;
    	margin: 10px 10px;
    	cursor: pointer;
    	border-radius: 2px;
		background-color: black;
		transition:all 0.5s ease;
	}
	button a{
		text-decoration: none;
		color: #FFF;
	}
	button a:hover{
		text-decoration: none;
		color: #FFF;
	}
	button:hover{
		opacity: 0.3;
		background-color: black;
		text-decoration: none;
		transition:all 0.5s ease;
	}
	button:focus{
		opacity: 0.3;
		color: #FFF;
		text-decoration: none;
		background-color: black;
		transition:all 0.5s ease;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		vertical-align: middle;
		text-align:center;
		min-height: 520px;
		min-width: 210px;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining each sectino background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(../img/rotate.jpg);
	}
	#section1{
		padding: 0% 0 0 0;
	}
	#section2{
		padding: 0% 0 0 0;
	}

 	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		padding: 0% 0 0 0;
	}
	#slide2{
		padding: 0% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	/* homepage catchphrase
	*--------------------------------------- */
	.homePagePhrase{
		/*font-size: 2.9vw;*/
		font-size: 1.5em;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	}

	/* homepage downarrow
	*--------------------------------------- */
	#section0 img{
		position: absolute;
		/*display: inline-block;*/
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		bottom: 10%;
		/*margin: ;*/
		/*margin-left: auto;*/
		/*margin-right: auto;*/
		transition: all 0.5s ease;
	}

	#section0 img:hover{
		opacity: 0.3;
		transition: all 0.5s ease;
	}

	@media screen and (max-height: 275px), screen and (max-width: 200px){
		#section0 img{
			display: none;
		}
	}

	/* section2 div...not working
	*--------------------------------------- */
	.section2Container{
		width: 50%;
		margin: 0 auto;
	}

	/* About me paragraph 
	*--------------------------------------- */
	#aboutMe{
		font-size: 1em;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		width: 50%;
		margin: auto;
	}
	@media screen and (max-width: 475px), screen and (max-height: 610px){
		#aboutMe{
			font-size: 0.5em;
		}
	}

	/* education divs
	*--------------------------------------- */
	.education1{
		/*font-size: 4vw;*/
		font-size: 1em;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		width: 50%;
		margin: auto;
	}
	.education2{
		/*font-size: 3vw;*/
		font-size: 0.80em;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
	}
	@media screen and (max-width: 475px), screen and (max-height: 610px){
		.education1{
			font-size: 0.75em;
		}
		.education2{
			font-size: 0.4em;
		}
	}

	/* project divs
	*--------------------------------------- */
	.project{
		/*font-size: 3vw;*/
		font-size: 1em;
	}
	.project a{
		color: black;
		text-decoration: underline;
		/*font-size: 4vw;*/
		font-size: 1.2em;
		transition: all 0.5s ease;
	}
	.project a:hover{
		color: rgb(179,179,179);
		/*color: rgb(217,30,24);*/
		transition:all 0.5s ease;
	}
	@media screen and (min-width: 475px), screen and (min-height: 545px){
		#slide3{
			font-size: 0.9em;
		}
	}

	/* experience divs
	*--------------------------------------- */
	.work{
		/*font-size: 3vw;*/
		font-size: 1em;
	}
	.work a{
		color: black;
		text-decoration: underline;
		font-size: 1.2em;
		/*font-size: 4vw;*/
		transition: all 0.5s ease;
	}
	.work a:hover{
		color: rgb(179,179,179);
		/*color: rgb(217,30,24);*/
		transition:all 0.5s ease;
	}
	.work u{
		color: black;
		text-decoration: underline;
		font-size: 1.2em;
		/*font-size: 4vw;*/
	}
	@media screen and (min-width: 475px), screen and (min-height: 545px){
		#slide4{
			font-size: 0.9em;
		}
	}

	/* email div
	*--------------------------------------- */
	.links{
		width: 100%;
	}
	.links a{
		transition: all 0.5s ease;
	}
	.links a:hover{
		opacity: 0.3;
		transition:all 0.5s ease;
	}