/* Style for our header texts
	* --------------------------------------- */
	h1{
		font-size: 7.77vw;
		/*font-size: 7em;*/
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		margin:0;
		padding:0;
	}
	h2{
		font-size: 3.33vw;
		/*font-size: 3em;*/
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		margin:0 auto;
		padding:0;
	}
	h3{
		font-size: 3.19vw;
		/*font-size: 3em;*/
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
		margin:0;
		padding:0;
	}
	h4{
		font-size: 1.5vw;
	}

	/* Style for paragraphs
	* --------------------------------------- */
	p{
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	}

	/* Style for buttons
	* --------------------------------------- */
	button{
		/*width: 10vw;*/
		/*height: 2vh;*/
		/*font-size: 0.90243vw;*/
		width: 8em;
		height: 2.5em;
		color: #FFF;
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
    	font-weight: normal;
    	/*min-width: 90px;*/
    	/* Centering the text within the button*/
    	padding:5px;
    	margin: 5px 10px;
    	cursor: pointer;
    	border-radius: 2px;
		background-color: black;
		transition:all 0.5s ease;
	}
	button a{
		text-decoration: none;
		color: #FFF;
	}
	button a:hover{
		text-decoration: none;
		color: #FFF;
	}
	button:hover{
		opacity: 0.3;
		background-color: black;
		transition:all 0.5s ease;
	}
	button:focus{
		opacity: 0.3;
		color: #FFF;
		text-decoration: none;
		background-color: black;
		transition:all 0.5s ease;
	}

	/* Centered texts in each section
	* --------------------------------------- */
	.section{
		vertical-align: middle;
		text-align:center;
	}


	/* Backgrounds will cover all the section
	* --------------------------------------- */
	#section0,
	#section1,
	#section2,
	#section3{
		background-size: cover;
		background-attachment: fixed;
	}

	/* Defining each sectino background and styles
	* --------------------------------------- */
	#section0{
		background-image: url(../img/rotate.png);
	}
	#section1{
		padding: 0% 0 0 0;
	}
	#section2{
		padding: 0% 0 0 0;
	}

 	/*Adding background for the slides
	* --------------------------------------- */
	#slide1{
		padding: 0% 0 0 0;
	}
	#slide2{
		padding: 0% 0 0 0;
	}


	/* Bottom menu
	* --------------------------------------- */
	#infoMenu li a {
		color: #fff;
	}

	/* homepage catchphrase
	*--------------------------------------- */
	.homePagePhrase{
		font-size: 1.665vw;
		/*font-size: 1.5em;*/
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
	}

	/* section2 div...not working
	*--------------------------------------- */
	.section2Container{
		width: 50%;
		margin: 0 auto;
	}
	/* education divs
	*--------------------------------------- */
	#education1{
		font-size: 1.11vw;
		/*font-size: 1em;*/
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
	}
	#education2{
		font-size: 0.8325;
		/*font-size: 0.75em;*/
		font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial;
		color: #000;
	}

	/* project divs
	*--------------------------------------- */
	.project{
		font-size: 0.999vw;
		/*font-size: 0.9em;*/
	}
	.project a{
		color: black;
		text-decoration: underline;
		font-size: 1.332vw;
		/*font-size: 1.2em;*/
		transition: all 0.5s ease;
	}
	.project a:hover{
		color: rgb(179,179,179);
		/*color: rgb(217,30,24);*/
		transition:all 0.5s ease;
	}

	/* experience divs
	*--------------------------------------- */
	.work{
		font-size: 0.999vw;
		/*font-size: 0.9em;*/
	}
	.work a{
		color: black;
		text-decoration: underline;
		font-size: 1.2em;
		transition: all 0.5s ease;
	}
	.work a:hover{
		color: rgb(179,179,179);
		/*color: rgb(217,30,24);*/
		transition:all 0.5s ease;
	}
	.work u{
		color: black;
		text-decoration: underline;
		font-size: 1.2em;
	}

	/* email div
	*--------------------------------------- */
	.links{
		width: 100%;
	}
	.links a{
		transition: all 0.5s ease;
	}
	.links a:hover{
		opacity: 0.3;
		transition:all 0.5s ease;
	}