---
layout: default
---
<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
  	<div class="row">
	  <div class="column">
	    <a class="grid-link"><div class="two item"><h1>Nanoleaf</h1><h6>iOS Dev</h6></div></a>
	    <a class="grid-link"><div class="one item">CIBC</div></a>
	  </div>
	  <div class="column">
	  	<a class="grid-link"><div class="two item">Canon Labs</div></a>
	    <a class="grid-link"><div class="one item">HCOM Lab</div></a>
	  </div>
	  <div class="column">
	    <a class="grid-link"><div class="two item">The Weather Network</div></a>
	  </div>
	</div>
	{{ content }}
  </div>

</article>
